<style>
body {
  background: #fff;
  margin: 0;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  font-family: Menlo, Consolas, monospace;
}
li {
  padding: .5em;
}
a {
  padding: .2em;
}
a:visited {
  color: #1A00F2;
}
a:hover {
  color: #1A00F2;
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
}
</style>

<h1>Source Files</h1>
<ul>
  <% for (var i = 0; i < files.length; i ++) { %>
    
    <% if (files[i].indexOf('.html') == -1 ) { %>

    <% } else { %>
      <li><a href="<%= files[i] %>"><%= files[i] %></a></li>
    <% } %>
  <% } %>
</ul>